<div class="card" style="width: 19.2rem;">
   <div class="delete">
    <mat-icon style="color:red ;cursor: pointer;"> delete </mat-icon>
   </div>
    <img class="card-img-top" src="https://img.freepik.com/vecteurs-libre/concept-calendrier-taches-personnes-prenant-notes_107791-15370.jpg?w=1060&t=st=1706787326~exp=1706787926~hmac=cdacab0be59938c78aeeec288b60703377fc83a31c7095ffbbf98c7a7618eca2" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Propriétaire</h5>
      <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
      <div class="row">
        <button class="canvas" ><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="MuiBox-root css-1xlzgj9 iconify iconify--codicon" sx="[object Object]" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 16 16"><path fill="currentColor" d="M13.5 2h-12l-.5.5v11l.5.5h12l.5-.5v-11zM2 3h11v1H2zm7 4H6V5h3zm0 1v2H6V8zM2 5h3v2H2zm0 3h3v2H2zm0 5v-2h3v2zm4 0v-2h3v2zm7 0h-3v-2h3zm0-3h-3V8h3zm-3-3V5h3v2z"></path></svg> Canvas </button>
        <button class="bussiness"> <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="MuiBox-root css-1xlzgj9 iconify iconify--akar-icons" sx="[object Object]" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2 6s1.5-2 5-2s5 2 5 2v14s-1.5-1-5-1s-5 1-5 1zm10 0s1.5-2 5-2s5 2 5 2v14s-1.5-1-5-1s-5 1-5 1z"></path></svg> Bussiness Plan </button>
      </div>
    
    </div>
  </div>

  