
<div>
   
    <mat-grid-list cols="8" rowHeight="270px">
  
    <mat-grid-tile class="partenaire" [colspan]="1" >
        <div class="header">
       
       <span> Partenaires clés</span> 
       <mat-icon> link </mat-icon> 
        </div> 
    </mat-grid-tile>
    <mat-grid-tile class="ac" [colspan]="1"  [rowspan]="1">
        <div class="header2">
       
            <span> Activité clés</span> 
            <mat-icon> done </mat-icon> 
             </div> 
             

    </mat-grid-tile>
    <mat-grid-tile class="rc" >
        <div class="header3">

            <span> Activité clés</span> 
            <mat-icon> done </mat-icon> 
             </div> 
     </mat-grid-tile>
   
    <mat-grid-tile class="pdv" >
     
    </mat-grid-tile>
   
    <mat-grid-tile class="seg">

    </mat-grid-tile>

    <mat-grid-tile class="resource">

    </mat-grid-tile>
    <mat-grid-tile class="canaux">

    </mat-grid-tile>
    <mat-grid-tile class="structure-revenus">

    </mat-grid-tile>
    <mat-grid-tile class="structure-couts">

    </mat-grid-tile>
    </mat-grid-list>
</div>