<div class="container">
    <div class="row align-items-stretch">
        <div class="col md-5 mt-3 mt-md-0  " id="banner">
          <h2 class="title"> FUNDER </h2>
          <div class="intro">
           <h3> Bienvenue a nouveau </h3>
           
            </div>
            <img src="https://fundermvp.cynoia.com/static/illustrations/illustration_login.png" alt="" class="flex-grow-1">
        </div>
        <div class="col md-6 mt-3 mt-md-0" id="form">
            <h3 class="intro2">Connectez-vous a FUNDER.</h3>
            <h6> Entrez vos coordonnées ci-dessous.</h6>
            <form action="">
                <div class="inputs">
               <input  type="email" name="email" placeholder="saisir votre email ">
               <input  type="password" name="password" placeholder="Saisir votre mot de passe ">
               </div>
                <button  type="submit" class="signup-btn"> Se connecter </button>
            </form>
        </div>
    </div>
  </div>
  
