<mat-horizontal-stepper  >
    <mat-step  >
  
      <ng-template matStepperIcon="done"> </ng-template>
    </mat-step>
    <mat-step >
      
        <ng-template matStepperIcon="done"></ng-template>
    </mat-step>
    <mat-step >
       
        <ng-template matStepperIcon="done"></ng-template>
    </mat-step>
    <mat-step >
       
        <ng-template matStepperIcon="done"></ng-template>
    </mat-step>
    <mat-step >
       
        <ng-template matStepperIcon="done"></ng-template>
    </mat-step>
    <mat-step >
      
        <ng-template matStepperIcon="done"></ng-template>
    </mat-step>
    <mat-step >
    
        <ng-template matStepperIcon="done"></ng-template>
    </mat-step>
    <mat-step >
     
        <ng-template matStepperIcon="done"></ng-template>
    </mat-step>
    <mat-step >
       
        <ng-template matStepperIcon="done"></ng-template>
    </mat-step>
</mat-horizontal-stepper>    
    
   
 
    
    
    
  
